{% extends 'base.html' %}

{% block content %}
<title>Digital Asset Management | Homepage</title>
<style>
    body {
        text-align: center;
      
    
    }
    .center {
  padding: 200px 0;
  font-family: Georgia, serif;
 
}
#grad {
  background-image: radial-gradient(rgb(169, 214, 199));
}
</style>

</head>
<body id="grad">

    <div class="center">
        <h1>Efficient organization, seamless collaboration, and total control.</h1>
    </div> 


</body>
{% endblock %}